@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form>
        <div class="row">
            <div class="col">
                <select class="form-select text-center" id="cities">
                    <option>Tehran</option>
                    <option>Shiraz</option>
                    <option>Tabriz</option>
                    <option>Paris</option>
                    <option>Lyon</option>
                    <option>NewYork</option>
                    <option>Washington DC</option>
                </select>
            </div>
            <div class="col">
                <input id="input" onkeyup="getAll()" type="text" class="form-control text-center" placeholder="جستجو...">
                <div id="result">

                </div>
            </div>
        </div>
    </form>
    <div class="d-none d-lg-block d-sm-none mt-5">
        <div class="row">
            <div class="card col-lg-3">
                <img src="images/pic01.jpg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-lg-3">
                <img src="images/pic02.jpg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card col-lg-3">
                <img src="images/pic03.jpg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-lg-3">
                <img src="images/pic04.jpg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-lg-3">
                <img src="images/pic05.jpg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-lg-3">
                <img src="images/pic06.jpg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-lg-3">
                <img src="images/pic07.jpg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-lg-3">
                <img src="images/pic08.jpg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="d-sm-block d-lg-none mt-5">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/pic01.jpg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/pic02.jpg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">40000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/pic03.jpg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">60000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/pic04.jpg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">80000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/pic05.jpg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">35000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/pic06.jpg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">45000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/pic07.jpg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">55000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/pic08.jpg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">90000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</div>

<script>

    const getAll = async () => {
        const name = document.getElementById("input").value;
        const response = await fetch(`/info/GetCountriesByName/${name}`);
        const data = await response.json();
        
        let result = "";
        for(let d of data)
        {
            result += `<br> <b onclick="getId(${d.id})" id="${d.id}">${d.name}</b>`
        }

        document.getElementById("result").innerHTML = result;
    }

    const getId = async (id) => {
        const response = await fetch(`/Info/GetCitiesByCountryId/${id}`);
        const data = await response.json();
        
        let result = "";
        for (let d of data) {
            result += `<option>${d.name}</option>`
        }

        document.getElementById("cities").innerHTML = result
        document.getElementById("result").innerHTML = "";
    }

</script>

