@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form>
        <div class="row">
            <div class="col">
                <select class="form-select text-center">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="col">
                <input id="input" type="text" class="form-control text-center" placeholder="جستجو...">
            </div>
        </div>
    </form>
    <div class="d-none d-lg-block d-sm-none mt-5">
        <div class="row">
            <div class="card col-lg-3">
                <img src="images/Jowhareh_galleries_2_poster_99a9484c-8505-4250-ac26-9c848a39caa2.jpeg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-lg-3">
                <img src="images/Jowhareh_galleries_5_poster_24691af5-5db6-49c2-a775-6ce55ab66bc3.jpeg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
                    
            </div>

            <div class="card col-lg-3">
                <img src="images/Jowhareh_galleries_5_poster_f112e601-a15b-42e0-a5f3-18794bbd5e57.jpeg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-lg-3">
                <img src="images/Jowhareh_galleries_8_poster_80fa1d4d-ea56-4a85-9b20-4324869f97c7.jpeg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-lg-3">
                <img src="images/Jowhareh_galleries_poster_03b7ab98-9ec2-41b5-ab18-31342c942e6b.jpeg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-lg-3">
                <img src="images/Jowhareh_galleries_poster_98ce2ef6-40bd-4ce1-956e-5d064d16bd33.jpeg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-lg-3">
                <img src="images/Jowhareh_galleries_poster_aa4f9933-ca7f-4c86-806a-a8f2db68c822.jpeg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-lg-3">
                <img src="images/Jowhareh_galleries_poster_fd0129ab-e071-4309-8dfb-df46d17af7fa.jpeg" class="card-img-top rounded-3" alt="picture" />
                <div class="cardbodyimg text-light">
                    <div class="mb-5">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="d-sm-block d-lg-none mt-5">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/Jowhareh_galleries_2_poster_99a9484c-8505-4250-ac26-9c848a39caa2.jpeg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">20000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_5_poster_24691af5-5db6-49c2-a775-6ce55ab66bc3.jpeg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">40000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_5_poster_f112e601-a15b-42e0-a5f3-18794bbd5e57.jpeg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">60000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_8_poster_80fa1d4d-ea56-4a85-9b20-4324869f97c7.jpeg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">80000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_poster_03b7ab98-9ec2-41b5-ab18-31342c942e6b.jpeg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">35000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_poster_98ce2ef6-40bd-4ce1-956e-5d064d16bd33.jpeg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">45000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_poster_aa4f9933-ca7f-4c86-806a-a8f2db68c822.jpeg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">55000000 تومان</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_poster_fd0129ab-e071-4309-8dfb-df46d17af7fa.jpeg" class="d-block w-100 h-50" alt="picture">
                    <img src="~/images/green.svg" class="position-relative">
                    <div class="textonimage text-light">
                        <p class="card-title text-center">دوره قلم طلایی</p>
                        <div class="row">
                            <p class="col-4">18 اذر 1402</p>
                            <button type="button" class="btn btn-outline-light col-4 btncard">
                                <p class="textcard">جزییات</p>
                            </button>
                            <p class="col-4">90000000 تومان</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        
    </div>
</div>

<script>
    const getAll = async () => {
        const response = await fetch("https://localhost:7241/GetAll");
        const data = await response.json();
        console.log(data);
    }

    const getId = async () => {
        const response = await fetch("https://localhost:7241/Search");
        const data = await response.json();
        console.log(data);
    }





    const countries = ['Iran'];

    function autocomplete(input, list) {
        input.addEventListener('input', function () {

            closeList();

            if (!this.value)
                return;

            suggestions = document.createElement('div');
            suggestions.setAttribute('id', 'suggestions');
            this.parentNode.appendChild(suggestions);


            for (let i = 0; i < list.length; i++) {
                if (list[i].toUpperCase().includes(this.value.toUpperCase())) {
                    suggestion = document.createElement('div');
                    suggestion.innerHTML = list[i];

                    suggestion.addEventListener('click', function () {
                        input.value = this.innerHTML;
                        closeList();
                    });
                    suggestion.style.cursor = 'pointer';

                    suggestions.appendChild(suggestion);
                }
            }

        });

        function closeList() {
            let suggestions = document.getElementById('suggestions');
            if (suggestions)
                suggestions.parentNode.removeChild(suggestions);
        }
    }
    autocomplete(document.getElementById('input'), countries);
</script>

